* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.div-img {
    height: 100vh;
}

.div-formulario {
    height: 100vh;
}

.icon {
    width: 8%;
    height: 8%;
}

.message {
    width: 12%;
    height: 12%;
}