* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.div-img {
    height: 100vh;
}

.div-formulario {
    height: 100vh;
}

.icon {
    width: 8%;
    height: 8%;
}

.message {
    width: 12%;
    height: 12%;
}

@media(max-width:850px){
    section {
        min-height: 100vh;
    }
    article {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    h1 {
        text-align: center;
    }

    .icons {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        min-height: 40vh;
    }

    .icon {
        width: 15%;
    }

    form a {
        text-align: center;
    }

    .div-btn {
        min-width: 30vw;
    }

    .div1 {
        width: 100%;
    }

    .div-formulario{
        width: 100%;
    }
}